@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) translateX(-50%);
  }

  40% {
    transform: translateY(-16px) translateX(-50%);
  }

  60% {
    transform: translateY(-8px) translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}