/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset css */

:root {
  --bg-9-dark: rgba(0, 0, 0, 0.9);
  --bg-light: rgba(255, 255, 255, 0.6);
  --bg-6-light: rgba(255, 255, 255, 0.6);
  --bg-8-light: rgba(255, 255, 255, 0.8);
  --bg-10-light: rgba(255, 255, 255, 1);
  --text-light: #666;
  --text-strong-light: #222;
  --text-dark: #fff;
  --tooltipBg: #fff;
}

:root {
  .dark {
    --bg-9-dark: rgba(255, 255, 255, 0.9);
    --bg-light: rgba(0, 0, 0, 0.6);
    --bg-6-light: rgba(0, 0, 0, 0.6);
    --bg-8-light: rgba(2, 2, 2, 0.7);
    --bg-10-light: rgba(10, 10, 10, 1);
    --text-light: #ccc;
    --text-strong-light: #eee;
    --text-dark: #111;
    --tooltipBg: #fff;
  }
}

.colors-spi3-scala {
  --color-1: #3288bd;
  --color-2: #66c2a5;
  --color-3: #abdda4;
  --color-4: #e6f598;
  --color-5: #ffffbf;
  --color-6: #fee08b;
  --color-7: #fdae61;
  --color-8: #f46d43;
  --color-9: #d53e4f;
}

html,
body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  height: 0;

  @media (min-width: 768px) {
    padding: 20px;
  }

  &.bg {
    backdrop-filter: blur(10px);
    height: 120px;

    @media (min-width: 768px) {
      height: 100px;
    }
  }

  .ado-logo {
    display: block;
    height: 36px;

    @media (min-width: 768px) {
      height: 62px;
    }

    path {
      transition: 500ms all;
      fill: #222;
    }

    &:hover {
      path {
        fill: #111;
      }
    }
  }

  .eurac-logo {
    display: block;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    g {
      fill: #222;
      transition: 500ms all;
    }

    &:hover {
      g {
        fill: #111;
      }
    }

    svg {
      width: 135px;
      height: auto;

      @media (min-width: 768px) {
        transform: scale(1);
        width: 215px;
      }
    }
  }

  .alpinespace {
    width: 160px;
    height: auto;

    @media (min-width: 768px) {
      width: 220px;
    }
  }
}

.reactMap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 2px 8px;
  background: var(--bg-9-dark);
  color: var(--text-dark);

  // background: var(--bg-10-light);
  // color: var(--text-light);

  max-width: 300px;
  font-size: 12px;
  z-index: 9;
  pointer-events: none;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  span {
    display: block;
  }
  .indexName {
    font-size: 10px;
    @media (min-width: 768px) {
      font-size: 12px;
    }
  }
  .indexValue {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
  .indexValueColorDot {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #fff;
    display: inline-block;
    margin-right: 6px;
  }
  .tooltipLocation {
  }
  .tooltipCTA {
    font-size: 10px;
    @media (min-width: 768px) {
      font-size: 12px;
    }
  }
}

.overlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.dataOverlay {
  position: absolute;
  z-index: 101;
  top: 20px;

  background: var(--bg-10-light);
  color: var(--text-strong-light);
  width: 100%;
  max-width: 1200px;
  height: auto;

  padding: 30px;
  padding-bottom: 80px;
  line-height: 1.5;

  @media (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .recharts-tooltip-label {
    color: #222;
  }

  .recharts-tooltip-item {
    color: #222;
  }

  .mapLink {
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 25px;
    margin: 30px 0;
  }
}

.textOverlay {
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--bg-10-light);
  color: var(--text-strong-light);
  width: 80vw;
  height: auto;
  padding: 30px;
  padding-bottom: 80px;
  line-height: 1.5;

  @media (min-width: 768px) {
    width: 50vw;
  }

  .overlayTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.closeOverlay {
  text-align: right;
  display: block;
  cursor: pointer;
}

.controlContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  z-index: 3;
  user-select: none;
  padding-bottom: 110px;

  @media (min-width: 768px) {
    padding-bottom: 80px;
  }

  &.impacts {
    padding-bottom: 50px;
    @media (min-width: 768px) {
      padding-bottom: 80px;
    }
  }

  .legend {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    width: auto;
    max-width: 160px;
    background-color: var(--bg-8-light);
    padding: 6px 6px 2px 6px;
    margin-bottom: 20px;

    .legendItem {
      margin-bottom: 8px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .legendColor {
        width: 10px;
        height: 10px;
        margin-right: 6px;
        border: 1px solid #999;

        @media (min-width: 768px) {
          width: 16px;
          height: 16px;
        }
      }

      .legendLabel {
        color: var(--text-strong-light);
        font-size: 11px;
        font-weight: 400;

        @media (min-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }

  .controlpanel {
    flex-shrink: 0;
    z-index: 2;
    background-color: var(--bg-8-light);
    padding: 15px;
    width: 75vw;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    backdrop-filter: blur(10px);

    @media (min-width: 768px) {
      width: 40vw;
      max-width: 55vw;
      padding: 30px 20px 30px 20px;
    }

    h1 {
      color: var(--text-strong-light);
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 14px;

      @media (min-width: 768px) {
        font-size: 32px;
        margin-bottom: 24px;
      }
    }

    h2 {
      color: var(--text-strong-light);
      font-size: 14px;
      line-height: 1.3;
      font-weight: 500;
      margin-bottom: 10px;
      cursor: pointer;

      @media (min-width: 768px) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    .timerangeSlider {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;

      input {
        flex-shrink: 0;
        width: calc(100% - 80px);

        &:-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #04aa6d;
          cursor: pointer;
        }
      }

      button {
        font-size: 22px;
        font-weight: 500;
        color: var(--text-light);
        border: none;
        background-color: var(--bg-10-light);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &[disabled] {
          color: #ccc;
        }
      }
    }

    .getMoreInfoIcon {
      display: inline-block;
      background: rgba(255, 255, 255, 0.8);
      background-color: var(--bg-9-dark);
      color: var(--text-dark);
      padding: 4px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: all 300ms ease-in-out;
      border: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        background: rgba(0, 0, 0, 1);
        border: 1px solid rgba(0, 0, 0, 0.8);
        background: transparent;
        color: var(--text-strong-light);
      }
    }
  }
}

.navigation {
  position: fixed;
  bottom: 60px;
  flex-shrink: 0;
  height: 40px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-wrap: normal;
  align-items: center;

  @media (min-width: 768px) {
    height: 50px;
    width: 100%;
    bottom: 10px;
  }

  p {
    width: 80px;
    padding-left: 20px;
    margin-right: 40px;
    display: none;
  }

  a {
    background: var(--bg-8-light);
    padding: 0;
    margin-right: 6px;
    text-transform: uppercase;
    text-decoration: none;
    flex-shrink: 0;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    transition: background-color 300ms ease-in-out, color 300ms;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    backdrop-filter: blur(10px);
    font-weight: 500;

    &:hover {
      background-color: var(--bg-light);
      color: var(--text-strong-light);
      font-weight: 500;
    }

    &.active {
      background-color: rgba(34, 34, 34, 0.8);
      color: #fff;
      font-weight: 500;
    }
  }
}

.darkModeToggle {
  position: fixed;
  bottom: 180px;
  right: 10px;
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
}

/* darkmode */

.dark {
  .ado-logo {
    path {
      fill: #ccc;
    }

    &:hover {
      path {
        fill: #fff;
      }
    }
  }

  .eurac-logo {
    g {
      fill: #ccc;
    }

    &:hover {
      g {
        fill: #fff;
      }
    }
  }

  .alpinespace {
    .fillzero {
      fill: #ccc;
    }

    .fillsix {
      fill: #aaa;
    }

    .strokezero {
      stroke: #ccc;
    }
  }
}

.cookieConsentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2) !important;
  padding: 10%;

  .cookieConsent {
    max-height: 500px !important;
    min-height: 300px !important;
    max-width: 500px !important;
    position: relative !important;
    background: rgba(0, 0, 0, 0.8) !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;

    .cookieConsentContent {
      flex: none !important;
      text-align: center;
      line-height: 1.8;
    }

    a {
      color: #eee;
    }

    button {
      font-size: 18px !important;
      padding: 15px !important;
      background: #4e9589 !important;
      color: #fff !important;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.custom-tooltip {
  border: 1px solid #ccc;
  background-color: var(--tooltipBg);
  color: #222;
  padding: 6px;
}

.sideBar {
  position: fixed;
  bottom: 10px;
  z-index: 3;
  flex-shrink: 0;
  height: 40px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  background-color: var(--bg-light);

  width: 100%;
  overflow-x: auto;

  @media (min-width: 768px) {
    width: 1px;
    overflow: visible;
    top: 200px;
    position: fixed;
    right: 0;
    z-index: 3;
    height: auto;
    bottom: auto;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
  }

  &.relative {
    @media (max-width: 768px) {
      position: fixed;
      bottom: 10px;
      transform: translateY(0);
    }
  }

  .alphaInfo {
    display: none;
    width: 370px;
    font-size: 12px;
    line-height: 1.2;
    margin-top: 20px;
    background-color: var(--bg-8-light);
    color: var(--text-strong-light);
    padding: 10px;
    backdrop-filter: blur(10px);

    @media (min-width: 768px) {
      display: block;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 4px;
    }
  }

  .sideBarItem {
    width: auto;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    white-space: nowrap;

    @media (min-width: 768px) {
      text-align: right;
      display: block;
      height: auto;
      margin-bottom: 10px;
    }

    a {
      display: block;
      height: 100%;
      width: auto;
      padding: 10px;
      background-color: var(--bg-8-light);
      color: var(--text-strong-light);
      text-decoration: none;
      transition: all 100ms ease-in-out;
      white-space: nowrap;
      margin-right: 10px;

      @media (min-width: 768px) {
        display: inline-block;
        padding: 10px 15px 10px 10px;
        margin-right: 0px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
      }

      &:hover {
        font-weight: bold;
      }
    }

    &.active {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .sideBarItemSub {
    font-size: 13px;
    margin-top: 5px;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    @media (min-width: 768px) {
      display: block;
    }

    a {
      padding: 5px 15px 5px 5px;
      background-color: var(--bg-8-light);
      color: var(--text-strong-light);
    }

    &.active {
      font-weight: bold;
    }
  }
}

.impactsWrapper {
  position: fixed;
  top: 80px;
  left: 20px;
  background-color: #fff;
  z-index: 3;

  width: calc(100% - 40px);

  @media (min-width: 768px) {
    top: 120px;
    width: 360px;
  }

  .impactsItem {
    margin-bottom: 28px;

    border-bottom: 1px solid #ccc;
    padding-bottom: 28px;

    p {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 10px;
    }
  }
}

.closeImpactWrapper {
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 5;
  font-size: 12px;
  background-color: #fff;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  cursor: pointer;
}

.impactsTitle {
  padding: 10px 20px 10px 20px;
}
.impactsContent {
  position: relative;
  height: 44vh;
  overflow: auto;
  padding: 10px 20px 10px 20px;
}

.impactsNutsSwitch {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  a {
    text-decoration: underline;
    color: var(--text-strong-light);
    padding: 5px;
    &.active {
      opacity: 0.5;
    }
  }
}
.impactsYearRange {
  position: absolute;
  bottom: 20px;
  left: 40px;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  height: 100px;
  width: calc(100% - 130px);
  overflow: auto;
  padding-bottom: 20px;
}

.selectYear {
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  width: 88px;
  text-align: left;
  font-size: 14px;
  padding: 0;
  padding-left: 10px;
  cursor: pointer;
  transform: rotate(-40deg);
  transition: all 100ms ease-in-out;

  &:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    background-color: #111;
    border-radius: 50%;
    width: 6px;
    height: 6px;
  }

  &.active {
    font-size: 18px;
    font-weight: bold;

    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: -4px;
      background-color: #111;
      border-radius: 50%;
      width: 12px;
      height: 12px;
    }
  }

  &:hover {
    font-size: 18px;
    font-weight: bold;
  }
}

b {
  font-weight: bold;
}

.dark,
.light {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.dark {
  background: #0d1117;
}

.light {
  background: #fff;
}

:root {
  .dark {
    color-scheme: dark;
    --color-prettylights-syntax-comment: #8b949e;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #c9d1d9;
    --color-prettylights-syntax-markup-bold: #c9d1d9;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    --color-fg-default: #c9d1d9;
    --color-fg-muted: #8b949e;
    --color-fg-subtle: #484f58;
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-accent-fg: #58a6ff;
    --color-accent-emphasis: #1f6feb;
    --color-attention-subtle: rgba(187, 128, 9, 0.15);
    --color-danger-fg: #f85149;
  }
}

:root .light {
  color-scheme: light;
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-fg-default: #24292f;
  --color-fg-muted: #57606a;
  --color-fg-subtle: #6e7781;
  --color-canvas-default: #ffffff;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: hsla(210, 18%, 87%, 1);
  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-accent-fg: #0969da;
  --color-accent-emphasis: #0969da;
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #cf222e;
}
